* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2461b7;
    color: #0a264e;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px; 
}

header {
    position: relative;
    color: #3774ca;
    padding: 20px;
    text-align: center;
}

header .banner img {
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    /*font-size: 3em;*/
    margin: 0; 
    padding: 10px 20px;
}

nav {
    position: absolute; 
    top: 120px; 
    width: 100%; 
    z-index: 2; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #3774ca;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #d2def0;
}

main {
    flex: 1;
    padding: 40px 20px; 
    background-color: rgba(255, 255, 255, 0.932); 
    margin: 20px auto; 
   /* max-width: 800px; */
    border-radius: 10px; 
    color:#0a264e;
}

main iframe {
    width: 100%;
    /*max-width: 100%;*/ 
    height: 800px;
    margin: 0 auto; 
    display: block;
    border: none; 
    overflow-y: auto;
}

h2 {
    color: #0a264e;
    margin-bottom: 15px;
}

.bordered-text {
    border-left: 4px solid #0a264e; 
    padding-left: 10px; 
    margin-left: 20px; 

footer {
    background-color: #0a264e;
    color: white;
    text-align: center;
    padding: 10px;
}

.titulo-principal {
    font-size: 24px; !important;
    margin: 0;
}